# ==========================================
# Настройки сервера
# ==========================================
# Порт приложения
SERVER_PORT=7592

# ==========================================
# Настройки базы данных
# ==========================================
# Драйвер БД
DB_DRIVER=org.postgresql.Driver

# URL подключения к БД (хост, порт, имя БД)
DB_URL=jdbc:postgresql://localhost:0000/local_db

# Имя пользователя БД
DB_USERNAME=postgres

# Пароль пользователя БД
DB_PASSWORD=your_password_here

# ==========================================
# JWT настройки
# ==========================================
# Секретный ключ для подписи JWT токенов
JWT_SECRET=your_jwt_secret_key

# ==========================================
# Настройки логов
# ==========================================
# Путь к директории
LOGS_PATH=path_logs